
<div class="wrapper">
  <h4>Phone Book</h4>
  <div class="form_sec">
    <label >First name:</label>
  <input type="text" [(ngModel)]="firstName">
  </div>
  <div class="form_sec">
    <label>Last name:</label>
  <input type="text" [(ngModel)]="lastName">
  </div>
  <div class="form_sec">
    <label >Phone Number:</label>
  <input type="tel" [(ngModel)]="phoneNumber">
  </div>
  
  <div class="form_sec">
    <button (click)="add()">Add</button>
  </div>
  

    <ul *ngIf="phonebokList.length>0">
      <li>S. No</li>
    <li>
    First Name
    </li>
    <li >
    Last Name
    </li>
    <li >
    Phone Number
    </li>
    </ul>

    <ul *ngFor="let list of phonebokList;let i=index" >
      <li>{{i+1}}</li>
    <li>
    {{list.firstName}}
    </li>
    <li >
    {{list.lastName}}
    </li>
    <li >
    {{list.phoneNumber}}
    </li>
    </ul>

  
</div>
