.wrapper{
    margin: 0 auto;
    width: 50%;
    border: 1px solid #7a7979; 
    padding: 10px;
    text-align: center;
}
.wrapper h4{
    font-size: 25px;
}
.form_sec{
    height: 50px;
}
.form_sec  label{
    font-size: 20px;
    display: inline-block;
   margin-right: 10px;
}

.form_sec input[type=text],.form_sec input[type=tel]{
    width: 300px;
    height: 25px;
    font-size: 18px;
}
.form_sec button{
    width: 200px;
    height: 35px;
    font-size: 18px;
    background-color: rgb(59, 109, 13);
    border: none;
    color: #fff;
}
.wrapper ul{
    padding-left: 0;
}
.wrapper ul li{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    width: 20%;
    
}
